@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root{
    --main-color:#d3ad7f;
    --black:#1e1e29;
    --bg:#010103;
    --text: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #010103;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    height: 100vh;
}

.container{
    background-color: #010103;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.5);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}
.container p{
    font-size:14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    color: #d3ad7f;
    font-size: 12px;
}

.container a{
    color: #d3ad7f;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
    transition: 0.3s ease;
}
.container a:hover{
    color: #fff;
}

.container button {
    background-color: #d3ad7f;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.container button:hover {
    background-color: transparent;
    color: #d3ad7f;
    border: 1px solid;
    border-color: #d3ad7f;
}

.container button.hidden{
    background-color: transparent;
    border-color: #fff;
    color:#fff;
    transition: 0.3s ease;
}

.container button.hidden:hover{
    background-color: #010103;
    border-color: #010103;
    color:#d3ad7f;
}

.container form{
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input {
    border: none;
    margin: 8px 0;
    padding: 5px 0; 
    font-size: 13px;
    width: 100%;
    outline: none;
    border-bottom: 1px solid #d3ad7f; 
    background-color: transparent; 
    color: #d3ad7f;
}


.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity:0;
    z-index: 1;
}

.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}


@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: #d3ad7f;
    height: 100%;
    background: #d3ad7f;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6ss ease-in-out;

}

.container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position:absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right{
    transform: translateX(200%);
}

.sign-in h1 {
    color: #d3ad7f;
    margin-bottom: 5px; 
}

.sign-up h1 {
    color: #d3ad7f;
    margin-bottom: 5px;
}

.center {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

/*Popup card*/
.popup{
    width: 350px;
    height: 280px;
    padding: 30px 20px;
    background: var(--black);
    border-radius: 10px;
    border: 1px solid var(--main-color);
    box-sizing: border-box;
    z-index: 2;
    text-align: center;
    opacity: 0;
    top: -200%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: opacity 300ms ease-in-out,
                top 1000ms ease-in-out,
                transform 1000ms ease-in-out;
    z-index: 1001;
}

.popup.active{
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
    
}

.popup .icon {
    margin: 5px 0px;
    width: 50px;
    height: 50px;
    border: 2px solid var(--main-color);
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    line-height: 60px;
}

.popup .icon i.fa {
    font-size: 30px;
    font-weight: bolder;
    color: var(--main-color);
}

.popup .title{
    margin: 5px 0px;
    font-size: 30px;
    font-weight: 600;
    color: var(--main-color);
}

.popup .description {
    color:  var(--text);
    font-size: 15px;
    padding: 5px;
}

.popup .dismiss-btn {
    margin-top: 15px;
}

.popup .dismiss-btn button {
    padding: 10px 20px;
    background: var(--main-color);
    color:  var(--black);
    border: 1px solid   var(--main-color);
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
}

.popup .dismiss-btn button:hover{
    color: var(--main-color);
    background: transparent;
    border-color: var(--main-color);
}

.popup > div{
    top: 0px;
    opacity:1;
}